{
  "presets": ["next/babel"],
  "plugins": [
    [
      // https://github.com/facebook/create-react-app/issues/8918
      "@babel/plugin-transform-typescript",
      {
        "allowDeclareFields": true
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
