## Copy .env.sample to .env and edit this

# Change this
APP_SECRET=ExtraStrongSecret

# Database credential
# user:password@host:port/database_name
DATABASE_URL=mysql://root:prisma@localhost:3306/nextjs-nexus

# sudo user password (will seed)
SUDO_PASSWORD=

# Uncomment to allow service-worker
# PWA=true

## Sendmail

Sendmail=true
SendmailSender=

# Send new letters queue delay (in milliseconds)
SendmailQueueDelay=

# Production (optional)
SendmailSmtpHost=
SendmailSmtpPort=

# For debugging (optional)
SendmailDevHost=
SendmailDevPort=

SendmailKeySelector=
SendmailPrivateKeyFile=

## Eof Sendmail
