**/node_modules/*
**/out/*
**/.next/*
**/dist/*
**/coverage/*
**/.storybook/*
**/storybook-static/*
/.vscode
/packages
/public
/shared
/prisma/migrations
generated
/tsconfig.tsbuildinfo

# cypress
/cypress
